@charset "UTF-8";
body:before {
  display: none;
  background-color: #fcf8e3;
  border-bottom: 1px solid #fbeed5;
  border-left: 1px solid #fbeed5;
  color: #c09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

@media (min-width: 30em) {
  body:before {
    content: "small ≥ 30em (30em)";
  }
}
@media (min-width: 40em) {
  body:before {
    content: "small-major ≥ 40em (40em)";
  }
}
@media (min-width: 50em) {
  body:before {
    content: "medium ≥ 50em (50em)";
  }
}
@media (min-width: 60em) {
  body:before {
    content: "medium-major ≥ 60em (60em)";
  }
}
@media (min-width: 70em) {
  body:before {
    content: "large ≥ 70em (70em)";
  }
}
@media (min-width: 80em) {
  body:before {
    content: "xlarge ≥ 80em (80em)";
  }
}
@media (min-width: 90em) {
  body:before {
    content: "xxlarge ≥ 90em (90em)";
  }
}
@media (min-width: 100em) {
  body:before {
    content: "xxxlarge ≥ 100em (100em)";
  }
}
body:before {
  display: none;
  background-color: #fcf8e3;
  border-bottom: 1px solid #fbeed5;
  border-left: 1px solid #fbeed5;
  color: #c09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}
@media (min-width: 30em) {
  body:before {
    content: "small ≥ 30em (30em)";
  }
}
@media (min-width: 40em) {
  body:before {
    content: "small-major ≥ 40em (40em)";
  }
}
@media (min-width: 50em) {
  body:before {
    content: "medium ≥ 50em (50em)";
  }
}
@media (min-width: 60em) {
  body:before {
    content: "medium-major ≥ 60em (60em)";
  }
}
@media (min-width: 70em) {
  body:before {
    content: "large ≥ 70em (70em)";
  }
}
@media (min-width: 80em) {
  body:before {
    content: "xlarge ≥ 80em (80em)";
  }
}
@media (min-width: 90em) {
  body:before {
    content: "xxlarge ≥ 90em (90em)";
  }
}
@media (min-width: 100em) {
  body:before {
    content: "xxxlarge ≥ 100em (100em)";
  }
}

@font-face {
  font-family: "Aktiv";
  src: url("../fonts/AktivGroteskEx-XBold.woff2") format("woff2"), url("../fonts/AktivGroteskEx-XBold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AktivBold";
  src: url("../fonts/aktivgrotesk-bold-webfont.woff2") format("woff2"), url("../fonts/aktivgrotesk-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "InterMed";
  src: url("../fonts/inter-medium-webfont.woff2") format("woff2"), url("../fonts/inter-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "InterBold";
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --body-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --heading-family: "Aktiv", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --display-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-weight-light: 100;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-heavy: 900;
  --font-weight-heavy: var(--font-weight-bold);
  --line-height: 1.25;
  --line-height-headings: 1.15;
  --color-grey-dark: #747474;
  --color-grey: #b7b7b7;
  --color-grey-light: #efefef;
  --color-primary: #ff6138;
  --color-secondary: #58AD69;
  --color-tertiary: #FFBC49;
  --color-quaternary: #E2574C;
  --color-text-base: #000;
  --color-text-dark: #181822;
  --color-text-reversed: #fff;
  --color-text-link: #0087D0;
  --color-text-hover: #003451;
  --color-facebook: #3B5998;
  --color-twitter: #1DA1F2;
  --color-instagram: #262626;
  --color-youtube: #cc181e;
  --color-linkedin: #0077B5;
  --body-background-color: #fff;
  --border-radius: 16px;
  --spacing-xxl: 150px;
  --spacing-xl: 100px;
  --spacing-l: 75px;
  --spacing: 50px;
  --spacing-s: 25px;
  --spacing-xs: 16px;
  --container-s: 700px;
  --container: 1300px;
  --container-l: 1430px;
  --content-width: var(--container);
  --container-global: 1920px;
  --nav-width: 1044px;
  --font-size: calc(1rem + 0.15vw);
  --font-size-lead: calc(1.2rem + 0.1vw);
  --font-size-small: 14px;
  --font-size-h1: calc(2rem + 4vw);
  --font-size-h2: calc(2rem + 2.5vw);
  --font-size-h3: calc(2rem + 1.75vw);
  --font-size-h4: calc(2rem + 0.75vw);
  --font-size-h5: calc(1.2rem + 0.2vw);
}
@media (min-width: 70em) {
  :root {
    --font-size-h1: calc(2rem + 10vw);
    --font-size-h2: calc(2rem + 5vw);
    --font-size-h3: calc(2rem + 3.5vw);
    --font-size-h4: calc(2rem + 2vw);
    --font-size-h5: calc(1.2rem + 0.2vw);
  }
}
@media (min-width: 80em) {
  :root {
    --font-size-h1: 150px;
    --font-size-h2: 100px;
    --font-size-h3: 75px;
    --font-size-h4: 50px;
    --font-size-h5: calc(1.2rem + 0.2vw);
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html {
  font-size: var(--font-size);
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: var(--body-family);
  line-height: var(--line-height);
  letter-spacing: 0.02em;
  text-rendering: optimizeSpeed;
  color: var(--color-text-base);
  background-color: var(--body-background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.skip-nav {
  background: #eee;
  color: var(--color-text-base);
  border-radius: 8px;
}

.hr-styled {
  position: relative;
  z-index: 1;
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 60px;
  background-image: url("../../src/icons/hr.svg");
}
.hr-styled--large {
  height: 120px;
  background-image: url("../../src/icons/hr-large.svg");
}
.hr-styled--half {
  height: 60px;
  width: 50%;
  background-image: url("../../src/icons/hr-large.svg");
  transform: scaleX(-1);
}

p {
  margin-top: 0;
  margin-bottom: var(--spacing-s);
  font-size: 16px;
}
@media (min-width: 50em) {
  p {
    font-size: 18px;
  }
}
p:last-of-type {
  margin-bottom: 0;
}
p strong {
  font-family: "InterMed";
}

p.lead {
  font-size: var(--font-size-lead);
}

p.small, p.card__date, p.card__excerpt,
.small p,
.card__date p,
.card__excerpt p {
  font-size: var(--font-size-small);
}

p + .btn__group,
p + .btn,
.content-block-article .content-block__sidebar p + a,
.content-block__sidebar ul li p + a {
  margin-top: var(--spacing-s);
}

.uppercase {
  text-transform: uppercase;
}

ul,
ol {
  list-style: none;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-left: 1.5rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

li p {
  margin: 0;
}

blockquote {
  padding-left: 1em;
  border-left: 4px solid var(--color-text-dark);
}

a {
  color: var(--color-text-link);
  text-decoration: none;
}

a:hover {
  color: var(--color-text-hover);
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: var(--spacing-s);
  line-height: var(--line-height-headings);
  font-weight: var(--font-weight-bold);
  font-family: var(--heading-family);
  color: var(--color-text-base);
  line-height: 1.15;
  letter-spacing: -0.03em;
}

h1, .heading-1 {
  font-size: var(--font-size-h1);
  line-height: 0.9;
}

h2, .heading-2 {
  font-size: var(--font-size-h2);
}

h3, .heading-3 {
  font-size: var(--font-size-h3);
  line-height: 1;
}

h4, .heading-4 {
  font-size: var(--font-size-h4);
}

h5, .heading-5 {
  font-size: var(--font-size-h5);
}

code {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 0.75em;
  font-style: normal;
  background-color: #f4f4f4;
  border-radius: 0.2rem;
  padding: 0.2rem;
}

pre {
  background-color: #f4f4f4;
  border-radius: 0.2rem;
  padding: 0.5rem;
  overflow: auto;
  width: calc(96vw - 2em);
  line-height: 1.3;
}

hr {
  width: 100%;
}

/* Generate block colours */
.has-white-color {
  color: #fff !important;
}

.has-white-background-color {
  background-color: #fff !important;
}

.has-black-color {
  color: #000 !important;
}

.has-black-background-color {
  background-color: #000 !important;
}

.has-primary-color {
  color: var(--color-primary) !important;
}

.has-primary-background-color {
  background-color: var(--color-primary) !important;
}

.has-secondary-color {
  color: var(--color-secondary) !important;
}

.has-secondary-background-color {
  background-color: var(--color-secondary) !important;
}

.has-tertiary-color {
  color: var(--color-tertiary) !important;
}

.has-tertiary-background-color {
  background-color: var(--color-tertiary) !important;
}

.has-quaternary-color {
  color: var(--color-quaternary) !important;
}

.has-quaternary-background-color {
  background-color: var(--color-quaternary) !important;
}

.edit-post-visual-editor__post-title-wrapper {
  border-bottom: 1px solid var(--color-grey);
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.edit-post-visual-editor__post-title-wrapper h1 {
  font-size: 50px;
}

/* Stop links being clickable in the block editor */
.acf-block-preview a {
  pointer-events: none !important;
}

/* Add bullets to list */
.block-editor-block-list__block {
  list-style: disc;
}

/* Post title width */
.editor-post-title__block.wp-block {
  max-width: var(--container-global);
  /* Post title styling */
}
figure {
  text-align: center;
  margin-bottom: var(--spacing-l);
}
figure figcaption {
  text-align: left;
  font-size: var(--font-size-small);
}

/* Main column width */
.wp-block {
  max-width: var(--container-global);
  /* Wide column width */
}
.wp-block[data-align=wide], .wp-block[data-align=full] {
  max-width: none;
}

.wp-block-quote:not(.is-large):not(.is-style-large) {
  border-left: 0;
  padding-left: 0;
}

.wp-block-button.is-style-full,
.wp-block-button.is-style-full .block-editor-rich-text,
div[data-type="core/button"] div[data-block] {
  display: block;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  max-width: 100%;
}

.is-root-container {
  padding-bottom: 2rem;
}

.block-editor-default-block-appender__content {
  text-align: center;
}

.block-editor-inner-blocks {
  display: flex;
}

.block-editor-default-block-appender .block-editor-inserter {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
}

.block-editor-block-list__block .block-list-appender.block-list-appender {
  width: 100%;
  bottom: 0;
  position: relative;
}

.block-editor-block-list__block .block-list-appender .block-editor-inserter__toggle.components-button.has-icon, .block-editor-block-list__block .block-list-appender .block-list-appender__toggle {
  width: 100%;
}

.block-editor-default-block-appender .block-editor-inserter__toggle.components-button.has-icon {
  width: 100%;
  padding: 2rem 1rem;
  border-radius: 4px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.block-editor-rich-text__editable {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.btn, .content-block-article .content-block__sidebar a, .content-block__sidebar ul li a,
.wp-block-button__link,
.wp-block-button__link:visited {
  display: inline-block;
  border-radius: 0;
  padding: 9px 10px 9px;
  border: 1px solid var(--color-text-dark);
  color: var(--color-text-dark);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-family: "Aktiv";
  font-weight: var(--font-weight-bold);
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.btn:hover, .content-block-article .content-block__sidebar a:hover, .content-block__sidebar ul li a:hover, .btn:focus, .content-block-article .content-block__sidebar a:focus, .content-block__sidebar ul li a:focus,
.wp-block-button__link:hover,
.wp-block-button__link:focus,
.wp-block-button__link:visited:hover,
.wp-block-button__link:visited:focus {
  background: var(--color-grey);
  color: var(--color-text-base);
  outline: 0;
  text-decoration: none;
}
.btn__group,
.wp-block-button__link__group,
.wp-block-button__link:visited__group {
  display: flex;
}

.btn--solid {
  background-color: var(--color-text-base);
  border: 1px solid var(--color-text-base);
  color: white;
}
.btn--solid:hover, .btn--solid:focus {
  background: var(--color-grey);
  outline: 0;
  text-decoration: none;
}

.btn--light {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
.btn--light:hover, .btn--light:focus {
  background: var(--color-grey);
}

.card {
  color: var(--color-text-base);
  padding-bottom: var(--spacing-s);
}
.card__media img {
  margin-bottom: var(--spacing-s);
  width: 100%;
}
.card__title {
  font-family: "InterMed";
  font-weight: var(--font-weight-medium);
  margin-bottom: 1rem;
}
.card__date {
  margin-top: 1rem;
}
.card:hover {
  text-decoration: none;
  color: var(--color-text-base);
}
.card:hover .card__title {
  text-decoration: underline;
}
.card:hover .card__media {
  transform: scale(1.02, 1.02);
}

.content > * {
  margin-right: auto;
  margin-left: auto;
}
.content h2,
.content h3,
.content h4,
.content h5 {
  margin-top: var(--spacing-l);
  margin-bottom: 0;
}
.content a {
  color: var(--link-color);
  text-decoration: underline;
  text-decoration-color: var(--link-hover-color);
}
.content a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}
.content blockquote {
  max-width: none;
  font-size: var(--font-size-h3);
  line-height: 1.4;
  margin: var(--spacing-l) 0;
}
.content figure {
  max-width: none;
  margin: var(--spacing-xl) 0;
}
.content figcaption {
  padding: 1em 0;
  font-size: var(--font-size-xs);
  color: var(--color-text-dark);
  max-width: var(--content-width);
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid var(--color-grey-light);
}
.content ul {
  list-style: disc;
  margin-top: 1.5em;
  padding-left: 1rem;
}
.content li {
  margin-bottom: 0.25em;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  width: 20px;
  height: 20px;
}
.icon-instagram {
  width: 23px;
  height: 23px;
}
.icon-facebook {
  width: 25px;
  height: 25px;
}
.icon-search {
  width: 24px;
  height: 25px;
}

.icon--small {
  width: 13px;
  height: 13px;
}

.icon--medium {
  width: 26px;
  height: 26px;
}

.icon--large {
  width: 32px;
  height: 32px;
}

.icon--xlarge {
  width: 40px;
  height: 40px;
}

.icon--scale {
  width: 0.75em;
  height: 0.75em;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.icon--offset {
  margin-right: 5px;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links__item {
  margin: 0 0.25rem;
}

.social-links__link {
  color: white;
}

.accordion {
  max-width: var(--content-width);
  margin-top: var(--spacing-xl);
  margin-bottom: var(--spacing-xl);
  padding: 0;
}

.accordion__item {
  border-top: 1px solid var(--color-grey-light);
}

.accordion__handle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: left;
  margin: 0;
  padding: var(--spacing) 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  border-top: 1px solid var(--color-grey-tint);
}

.accordion__title {
  margin: 0 !important;
  color: var(--color-text-dark);
  text-transform: uppercase;
  font-size: var(--font-size-h5);
  flex: 1;
}
.is-active .accordion__title {
  color: var(--color-primary);
}

.accordion__icon {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 var(--spacing);
}
.accordion__icon:before, .accordion__icon:after {
  content: "";
  position: absolute;
  background: var(--color-text-base);
  transition: transform 0.25s ease-out;
}
.accordion__icon:before {
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
}
.accordion__icon:after {
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  margin-top: -1px;
}
.is-active .accordion__icon:before {
  transform: rotate(90deg);
}
.is-active .accordion__icon:after {
  transform: rotate(180deg);
}

.accordion__body {
  display: none;
  padding-bottom: var(--spacing-l);
}
.accordion__body p:first-child {
  margin-top: 0;
}
.accordion__body.is-open {
  display: block;
}

.banner {
  background: black;
  width: 100%;
}
.banner__hr {
  margin-top: -120px;
}
.banner-slider__item {
  display: flex !important;
  flex-direction: column;
  height: 100%;
  color: white;
}
@media (min-width: 50em) {
  .banner-slider__item {
    flex-direction: row;
  }
}
.banner-slider__item-image {
  width: 100%;
  background-size: cover;
  background-position: center center;
  min-height: 50vw;
}
@media (min-width: 50em) {
  .banner-slider__item-image {
    width: 50%;
  }
}
.banner-slider__item-image img {
  width: 100%;
  display: none;
}
.banner-slider__item-content {
  width: 100%;
  padding: var(--spacing) var(--spacing-l) calc(var(--spacing-xl) + 60px) var(--spacing);
}
@media (min-width: 50em) {
  .banner-slider__item-content {
    width: 50%;
    padding: var(--spacing-xl) calc(var(--spacing) * 2) calc(var(--spacing-xl) + 120px) var(--spacing);
  }
}
@media (max-width: 79.99em) {
  .banner-slider__item-content h3 {
    font-size: var(--font-size-h4);
  }
}

.content-block {
  display: flex;
  justify-content: space-between;
  padding-bottom: var(--spacing-l);
}
.content-block__sidebar {
  width: 33.3%;
  padding-right: var(--spacing);
}
.content-block__sidebar ul {
  margin-top: 0;
  padding-left: 0;
}
.content-block__sidebar ul .current_page_item a {
  background-color: var(--color-text-base);
  color: white;
}
.content-block__sidebar ul li {
  margin-bottom: 0.25rem;
}
.content-block__sidebar ul li a {
  text-align: left;
  font-weight: 400;
  font-family: "InterBold";
  color: var(--color-grey-dark);
  border-color: var(--color-grey-dark);
}
.content-block__content {
  width: 66.6%;
  margin: 0 auto;
}
.content-block__content .wp-block-image {
  margin-bottom: var(--spacing-l);
}
.content-block__content .wp-block-image img {
  width: 100%;
}
.content-block__content ol {
  list-style-type: decimal;
  padding-bottom: 1rem;
}
.content-block__content ol li {
  margin-bottom: 1rem;
}
.content-block__content a {
  color: var(--color-grey-dark);
}
.content-block-article {
  padding-top: var(--spacing);
}
.content-block-article .content-block {
  padding: 0;
}
.content-block-article .content-block__sidebar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.content-block-article .content-block__sidebar a {
  margin-right: 0.5rem;
  text-align: left;
  font-weight: 400;
  font-family: "InterBold";
  color: white;
  border-color: var(--color-grey-dark);
}
.content-block-article .content-block__content {
  width: 50%;
  margin-left: 0;
}
.content-block-article .content-block__content h1 {
  margin-top: -10px;
}
.content-block-article .content-block__content .content-block__content {
  width: 100%;
  padding: 0;
}

.news {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--spacing);
}
@media (min-width: 50em) {
  .news {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing);
  }
}
@media (min-width: 70em) {
  .news {
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacing);
  }
}
.news .card {
  position: relative;
  padding-bottom: var(--spacing);
}
.news .card:nth-child(4n+1):after {
  content: "";
  width: calc(100vw - var(--spacing-xl) * 2);
  max-width: calc(var(--container-global) - var(--spacing-xl) * 2);
  height: 1px;
  background: var(--color-grey);
  position: absolute;
  left: 0;
  bottom: 0;
}

.pagelinks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-s);
}
.pagelinks .card__title {
  text-transform: uppercase;
  padding-right: 20%;
}
.pagelinks .card__excerpt {
  padding-right: 25%;
}

.u-bold {
  font-weight: bold !important;
}

.u-semibold {
  font-weight: 600 !important;
}

.u-regular {
  font-weight: normal !important;
}

.u-light {
  font-weight: 300 !important;
}

.u-italic {
  font-style: italic !important;
}

.u-caps {
  text-transform: uppercase !important;
}

.u-left-align {
  text-align: left !important;
}

.u-center {
  text-align: center !important;
}

.u-right-align {
  text-align: right !important;
}

.mt-xxl {
  margin-top: var(--spacing-xxl) !important;
}

.mt-xl {
  margin-top: var(--spacing-xl) !important;
}

.mt-l {
  margin-top: var(--spacing-l) !important;
}

.mt {
  margin-top: var(--spacing) !important;
}

.mt-s {
  margin-top: var(--spacing-s) !important;
}

.mb-xxl {
  margin-bottom: var(--spacing-xxl) !important;
}

.mb-xl {
  margin-bottom: var(--spacing-xl) !important;
}

.mb-l {
  margin-bottom: var(--spacing-l) !important;
}

.mb {
  margin-bottom: var(--spacing) !important;
}

.mb-s {
  margin-bottom: var(--spacing-s) !important;
}

img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}

img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}

img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.hide {
  display: none;
}

@media (max-width: 49.99em) {
  .hidemobile {
    display: none !important;
  }
}

@media (min-width: 50em) {
  .hidedesktop {
    display: none !important;
  }
}

.bkg--white {
  background-color: white;
}
.bkg--black {
  background-color: black;
}

.txt--white {
  color: white;
}
.txt--grey {
  color: var(--color-grey) !important;
}
.txt--black {
  color: black;
}

ul, ol {
  list-style: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-left: 1em;
}
ul li, ol li {
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
}
