.pagelinks {
	@extend .container !optional;
	display: grid;

	grid-template-columns: repeat(1, 1fr);
	gap: 0;
	@include mq(medium) {
		grid-template-columns: repeat(2, 1fr);
		gap: var(--spacing-s);
	}
	@include mq(large) {
		grid-template-columns: repeat(3, 1fr);
	}

	.card {
		&__title {
			text-transform: uppercase;
			padding-right: 20%;
		}
		&__excerpt {
			padding-right: 25%;
		}
	}
}
