.pagelinks {
	@extend .container !optional;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--spacing-s);
	.card {
		&__title {
			text-transform: uppercase;
			padding-right: 20%;
		}
		&__excerpt {
			padding-right: 25%;
		}
	}
}