.content-block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 0;
	@include mq(medium) {
		flex-direction: row;
		// padding-top: var(--spacing-l);
		// padding-bottom: var(--spacing-l);
	}
	&-post {
		margin-bottom: var(--spacing-xl);
	}
	&__withside {
		padding-top: var(--spacing) !important;
		justify-content: flex-start;
		.content-block__content {
			margin: 0 auto;
		}
	}
	&__sidebar {
		width: 100%;
		margin-bottom: var(--spacing);
		padding-right: var(--spacing);
		// width: calc(33.3% - 36px);
		@include mq(medium) {
			width: 20%;
			margin-bottom: 0;
		}

		ul {
			list-style: none;
			margin-top: 0;
			padding-left: 0;
			.current_page_item {
				a {
					color: var(--color-red);
				}
			}
			li {
				margin-bottom: 0.25rem;
				// &:before {
				// 	content: url("../../src/icons/arrow.svg");
				// }
				a {
					text-align: left;
					font-weight: var(--font-weight-normal);
					color: var(--color-text-base);
					&:hover {
						text-decoration: none;
						&:before {
							position: absolute;
							left: -1.25rem;
							content: url("../../src/icons/arrow.svg");
						}
					}

				}
			}
		}
		.btn + .btn {
			margin-top: 1rem;
		}
	}
	&__content {
		width: 100%;
		margin: 0 auto;
		line-height: 1.5;
		// @include mq(medium) {
		// 	width: 66.6%;
		// }
		// @include mq(xlarge) {
		// 	padding-right: 10%;
		// }
		&--full {
			// margin: 0 auto;
			// width: 66.6%;
		}
		figure:first-of-type {
			margin-bottom: var(--spacing-l);
		}
		figure:not(:first-of-type) {
			margin: var(--spacing) 0;
			// margin-bottom: var(--spacing);
			// margin-top: var(--spacing-l);
		}
		.wp-block-image {
			// margin-bottom: var(--spacing-l);
			img {
				// width: 100%;
			}
		}
		.banner {
			margin-bottom: var(--spacing);
		}
		.banner-slider {
			margin-bottom: var(--spacing-l);
		}
		.programmes-title,
		.programmes-list,
		.pagelinks {
			padding-left: 0;
			padding-right: 0;
			figure {
				margin-bottom: 0;
			}
			a {
				color: var(--color-text-base);
			}
		}
		.content-block__content {
			width: 100%;
		}
		.wp-block-embed__wrapper {
			position: relative;
			padding: 30px 0 56.25% 0;
			height: 0;
			overflow: hidden;

			margin: var(--spacing) 0;
			text-align: center;
			width: 100%;

			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}

		}
		ol {
			list-style-type: decimal;
		}
		ul {
			list-style-type: disc;
			li {
				margin-bottom: 1rem;
			}
		}
		ol {
			padding-bottom: 1rem;
			li {
				margin-bottom: 1rem;
			}
		}

		a {
			text-decoration: underline;
		}
		.wp-block-buttons {
			display: flex;
			flex-direction: column;
			margin: 2rem 0 var(--spacing) 0;
		}
		.wp-block-button + .wp-block-button {
			margin-top: 1rem;
		}
		.wp-block-button__link {
			@extend .btn--solid;
			@extend .btn;
		}
		// h2 {
		// 	font-size: 32px !important;
		// }
		// h3 {
		// 	font-size: 24px !important;
		// }
		// h4 {
		// 	font-size: 20px !important;
		// }

		p,
		ul {
			+ h2,
			+ h3,
			+ h4,
			+ h5 {
				margin-top: var(--spacing)
			}
		}
		// p + h2,
		// p + h3,
		// p + h4,
		// p + h5 {
		// 	margin-top: var(--spacing)
		// }
	}

	&-event,
	&-programme {
		@include mq(medium) {
			padding-top: var(--spacing);
		}
		.content-block {
			padding: 0;
		}
		.content-block__sidebar {
			align-items: flex-start;
			display: flex;
			flex-direction: column;
		}
		.content-block__content {
			h1 {
				margin-top: -10px;
			}
		}
	}

	&-article {
		padding-top: var(--spacing);
		padding-bottom: var(--spacing);
		@include mq(medium) {
			padding-bottom: var(--spacing-l);
		}
		.content-block {
			padding: 0;
		}
		.content-block__sidebar {
			display: flex;
			flex-direction: row;
			align-items: baseline;
			a {
				@extend .btn;
				margin-right: 0.5rem;
				text-align: left;
				font-weight: var(--font-weight-bold);
				color: white;
				border-color: var(--color-grey-dark);
			}
		}
		.content-block__content {
			width: 100%;
			margin-left: 0;
			padding-right: 0;
			@include mq(medium) {
				width: 50%;
			}
			h1 {
				margin-top: -10px;
			}
			.content-block__content {
				width: 100%;
				padding: 0;
			}
			.content-block__sidebar {
				display: none;
			}
		}
	}
}

.wp-block-gallery.has-nested-images figure.wp-block-image {
	flex-grow: 0;
}


.content-block-page {
	position: relative;

	&:before {
		content: '';
		position: absolute;
		z-index: -1;
		background-color: var(--content-bkg);
		width: 100vw;
		height: 100%;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
	}
}
