.content-block {
	@extend .container !optional;
	display: flex;
	justify-content: space-between;
	padding-bottom: var(--spacing-l);
	&__sidebar {
		width: 33.3%;
		padding-right: var(--spacing);
		// width: calc(33.3% - 36px);

		ul {
			margin-top: 0;
			padding-left: 0;
			.current_page_item {
				a {
					background-color: var(--color-text-base);
					color: white;
				}
			}
			li {
				margin-bottom: 0.25rem;
				a {
					@extend .btn;
					text-align: left;
					font-weight: 400;
					font-family: "InterBold";
					color: var(--color-grey-dark);
					border-color: var(--color-grey-dark);
				}
			}
		}
	}
	&__content {
		width: 66.6%;
		margin: 0 auto;
		&--full {
			// margin: 0 auto;
			// width: 66.6%;
		}

		.wp-block-image {
			img {
				width: 100%;
			}
		}

		ol {
			list-style-type: decimal;
			padding-bottom: 1rem;
			li {
				margin-bottom: 1rem;
			}
		}
	}
}