.news {
	@extend .container !optional;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: var(--spacing);
	@include mq(medium) {
		grid-template-columns: repeat(2, 1fr);
		gap: var(--spacing);
	}
	@include mq(large) {
		grid-template-columns: repeat(4, 1fr);
		gap: var(--spacing);
	}

	.card {
		position: relative;
		padding-bottom: var(--spacing);
		&:nth-child(4n+1):after {
			content: "";
			width: calc(100vw - (var(--spacing-xl) * 2));
			max-width: calc(var(--container-global) - (var(--spacing-xl) * 2));
			height: 1px;
			background: var(--color-grey);
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}
}
