input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
	// height: 38px;
	padding: 12px;
	background-color: rgba(255, 255, 255, 0.4);
	// color: white;
	border: 0;
	border-radius: 5px;
	box-shadow: none;
	box-sizing: border-box;
	width: 100%;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	margin-bottom: 1.5rem;
}

textarea {
	min-height: 65px;
	padding-top: 6px;
	padding-bottom: 6px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
	background-color: rgba(255, 255, 255, 0.2);
	outline: 0;
}
select {
	border: 1px solid black;
}

label {
	display: block;
	// margin: .5em 0;
	font-weight: var(--font-weight-book);
}

input[type="checkbox"],
input[type="radio"] {
	display: inline;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
	// display: block;
	// padding: 1em;
	// margin: .5em 0;
	// background: var(--color-primary);
	// color: #fff;
	// border-radius: var(--border-radius);
	// transition: (all 0.2s linear);
	// border: 0;
	@extend .btn--solid;
}

input[type="submit"].center,
input[type="reset"].center,
input[type="button"].center {
	margin: 0 auto;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
	// background: var(--color-grey);
	// text-decoration: none;
	// color: #fff;
}

 .required {
	 color: #BF5D58;
 }
