/* Generate block colours */
@each $name, $color in $block-colors {
	.has-#{$name}-color {
		color: $color!important;
	}

	.has-#{$name}-background-color {
		background-color: $color!important;
	}
}

.edit-post-visual-editor__post-title-wrapper {
	border-bottom: 1px solid var(--color-grey);
	max-width: 900px;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 2rem;
}
.edit-post-visual-editor__post-title-wrapper h1 {
	font-size: 50px;
	// text-transform: uppercase;
}

/* Stop links being clickable in the block editor */
.acf-block-preview a {
	pointer-events: none!important;
}

/* Add bullets to list */
.block-editor-block-list__block {
	list-style: disc;
}

/* Post title width */
.editor-post-title__block.wp-block {
	max-width: var(--container-global);

	/* Post title styling */
	.editor-post-title__input {
	}
}

html:where(.editor-styles-wrapper),
.editor-styles-wrapper {
	// padding: 0 !important;
}

figure {
	// text-align: center;
	// margin-bottom: var(--spacing-l);
	figcaption {
		text-align: left;
		font-size: var(--font-size-small);
	}
}

/* Main column width */
.wp-block {
    max-width: var(--container-global);

	/* Wide column width */
	&[data-align="wide"],
	&[data-align="full"] {
		max-width: none;
	}
}

// Undo blockquote styles
.wp-block-quote:not(.is-large):not(.is-style-large) {
	border-left: 0;
	padding-left: 0;
}

// Fix space between image and caption
// .wp-block-image {
// 	line-height: 0;
// }

// Full width button
.wp-block-button.is-style-full,
.wp-block-button.is-style-full .block-editor-rich-text,
div[data-type="core/button"] div[data-block] {
	display: block;
}

// Separator
.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	max-width: 100%;
}
.is-root-container {
	padding-bottom: 2rem;
}
.block-editor-default-block-appender__content {
	text-align: center;
}

.block-editor-inner-blocks {
	display: flex;
}

.block-editor-default-block-appender .block-editor-inserter {
	position: relative;
	width: 100%;
	// top: 20px;
	margin-bottom: 20px;
	display: flex;
}
.block-editor-block-list__block .block-list-appender.block-list-appender {
	width: 100%;
	// bottom: -10px;
	bottom: 0;
	position: relative;
}
.block-editor-block-list__block .block-list-appender .block-editor-inserter__toggle.components-button.has-icon, .block-editor-block-list__block .block-list-appender .block-list-appender__toggle {
	width: 100%;
}

.block-editor-default-block-appender .block-editor-inserter__toggle.components-button.has-icon {
	width: 100%;
	padding: 2rem 1rem;
	border-radius: 4px;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}
.block-editor-rich-text__editable,
.wp-block-image,
.wp-block-buttons,
.wp-block-embed {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.wp-block-button__link {
	padding: 18px 20px 12px !important;
	color: white !important;
	background-color: var(--color-text-base);
}
.card {
	border: 0;
	padding: 0;
	// &:nth-child(4n+1):after {
	// 	display: none;
	// }
}

figure.wp-block-gallery.has-nested-images {
	display: flex;
    flex-wrap: wrap;
	margin: var(--spacing) 0;
	figure.wp-block-image figcaption {
		background: none;
		position: relative;
		text-align: left;
		color: var(--color-text-base);
		padding: 0;
	}
}

.category-filter {
	display: none;
}
ul, ol {
	list-style: auto;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	padding-left: 1em;
	li {
		padding-left: 0.5rem;
		margin-bottom: 0.5rem;
	}
}
ol {
	.editor-styles-wrapper .block-editor-block-list__block {
		list-style: auto;
	}
}
.banner-slider__item {
	display: none !important;
	&:first-of-type {
		display: flex !important;
	}
}
.content-block__content {
	a {
		color: var(--color-text-link);
		text-decoration: none;
	}
	h2 {
		font-size: 32px !important;
	}
	h3 {
		font-size: 24px !important;
	}
	h4 {
		font-size: 20px !important;
	}
	h5 {
		font-size: 16px !important;
	}
}
.card--std {
	max-width: 25%;
    min-width: 25%;
}
.programmes-list,
.events-list {
	padding: 0 var(--spacing-xl) !important;
}

.content-block__content .wp-block-buttons {
	align-items: flex-start;
}

.wp-block .programmes-title,
.wp-block .programmes-list {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.pagelinks {
	grid-template-columns: repeat(2, 1fr) !important;
}
