// =============================================================================
// Helper classes
// =============================================================================

.u-bold { font-weight: bold!important; }
.u-semibold { font-weight: 600!important; }
.u-regular { font-weight: normal!important; }
.u-light { font-weight: 300!important; }
.u-italic { font-style: italic!important; }
.u-caps { text-transform: uppercase!important; }
.u-left-align { text-align: left!important; }
.u-center { text-align: center!important; }
.u-right-align { text-align: right!important; }
.u-flex {display: flex; flex-direction: column;  }

// Margins
.mt-xxl { margin-top: var(--spacing-xxl)!important; }
.mt-xl { margin-top: var(--spacing-xl)!important; }
.mt-l { margin-top: var(--spacing-l)!important; }
.mt { margin-top: var(--spacing)!important; }
.mt-s { margin-top: var(--spacing-s)!important; }

.mb-xxl { margin-bottom: var(--spacing-xxl)!important; }
.mb-xl { margin-bottom: var(--spacing-xl)!important; }
.mb-l { margin-bottom: var(--spacing-l)!important; }
.mb { margin-bottom: var(--spacing)!important; }
.mb-s { margin-bottom: var(--spacing-s)!important; }

// WordPress specifc
img.alignright      { float: right; margin: 0 0 1em 1em; }
img.alignleft       { float: left; margin: 0 1em 1em 0; }
img.aligncenter     { display: block; margin-left: auto; margin-right: auto; }
.alignright         { float: right; }
.alignleft          { float: left; }
.aligncenter        { display: block; margin-left: auto; margin-right: auto; }

// Screen reader
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

// debugging
@if $debug == true {
    * {
        box-shadow: inset 0 0 0 1px red;
    }
}


// Show and hide

.hide {
	display: none;
}
.hidemobile {
	@include mq($until: medium) {
		display: none !important;
	}
}

.hidedesktop {
	@include mq(medium) {
		display: none !important;
	}
}

.bkg {
	&--white {
		background-color: white;
	}
	&--black {
		background-color: black;
	}
	&--secondary {
		background-color: var(--color-secondary);

		+ .site-footer {
			margin-top: 0;
		}
	}
}

.txt {
	&--white {
		color: white;
	}
	&--grey {
		color: var(--color-grey) !important;
	}
	&--black {
		color: black;
	}
}
p.has-background {
	padding: 0;
}
.has-red-background-color {
	background-color: var(--color-red);
	color: white;
	p, h1, h2, h3, h4, h5 {
		color: white;
	}
	.banner-date {
		&:before {
			background-color: var(--color-maroon);
		}
	}
}
.has-blue-background-color {
	background-color: var(--color-blue);
	color: white;
	h1, h2, h3, h4, h5 {
		color: var(--color-maroon);
	}
}
.has-green-background-color {
	background-color: var(--color-green);
	color: white;
	h1, h2, h3, h4, h5 {
		color: var(--color-maroon);
	}
}
.has-gold-background-color {
	background-color: var(--color-gold);
	color: white;
	h1, h2, h3, h4, h5 {
		color: var(--color-brown);
	}
}
.has-brown-background-color {
	background-color: var(--color-brown);
	color: white;
	h1, h2, h3, h4, h5 {
		color: var(--color-gold);
	}
}
.has-maroon-background-color {
	background-color: var(--color-maroon);
	color: white;
	h1, h2, h3, h4, h5 {
		color: var(--color-blue);
	}
}
.has-grey-background-color,
.bkg--grey {
	background-color: var(--color-grey-light);
	color: var(--color-text-base);
	h1, h2, h3, h4, h5 {
		color: var(--color-red) !important;
	}
	.banner-date {
		&:before {
			background-color: var(--color-gold-light);
		}
	}
}
