.events {
	&-list {
		// padding: 0 calc(var(--spacing-s) - 8px);
		@extend .container-s !optional;
		display: flex;
		flex-wrap: wrap;
		@include mq(medium) {
		}
		// @include mq(large) {
		// 	padding: 0 200px;
		// }
		.category-filter {
			padding-right: 0;
			display: none;
		}
	}

	&-title {
		@extend .container !optional;
		padding-top: var(--spacing);
		padding-bottom: var(--spacing);
	}

	.card {
		position: relative;
		padding: 0 calc(var(--spacing-xs) / 2);
		padding-bottom: var(--spacing);

		&__title {
			margin-bottom: 0;
		}
		&__date {
			margin-top: 0;
			margin-bottom: 1rem;
			color: var(--color-grey-dark);
		}
		&__address {
			margin: 1rem 0;
			color: var(--color-grey-dark);
			@extend .small;
		}
	}
}
