.programmes {
	padding-bottom: var(--spacing-xl);
    margin-bottom: var(--spacing-xl);
    border-bottom: 1px solid black;
	&-list {
		// padding: 0 calc(var(--spacing-s) - 8px);

		justify-content: center;
		margin-left: - 12.5px;
		margin-right: - 12.5px;
		// margin-bottom: var(--spacing-l);
		display: flex;
		flex-wrap: wrap;
		@include mq(medium) {
		}
		@include mq(large) {
			// padding: 0 200px;
		}

		.btn__group {
			width: 100%;
			justify-content: center;
		}
	}

	&-title {
		padding-bottom: var(--spacing);
		display: flex;
		justify-content: space-between;
		&__content {
			display: flex;
			flex-direction: column;
		}
	}

	.card {
		position: relative;
		// padding: 0 calc(var(--spacing-xs) / 2);
		padding: 0 calc(var(--spacing-xs));
		padding-bottom: var(--spacing);
		&__title {

		}
	}
}
