.category-list {
	display: flex;
	margin-top: 1rem;
	margin-bottom: var(--spacing);
	flex-wrap: wrap;
	.category {
		background-color: var(--color-text-base);
		margin-right: 0.25rem;
		margin-bottom: 0.25rem;
		display: inline-block;
		border-radius: 0;
		padding: 6px 8px;
		// border: 1px solid var(--color-text-base);
		color: white;
		// text-transform: uppercase;
		font-weight: var(--font-weight-bold);
		font-size: 14px;
		&--active {
			background-color: var(--color-primary);
			// border-color: var(--color-primary);
		}
		span {
			// font-weight: var(--font-weight-book);
			text-transform: capitalize;
		}
		p {
			font-size: 14px;
		}
	}
}
.category-filter {
	display: flex;
	// margin-left: auto;
	margin-bottom: var(--spacing);
	@include mq(medium) {
		margin-left: auto;
	}
	select {
		display: none;
		width: auto;
		padding-right: 100px;
		@include mq(medium) {
			display: flex;
			margin-left: auto;
		}
	}
	select,
	option {
		font-size: var(--font-size-small);
	}
}
