.category-list {
	display: flex;
	margin-top: 1rem;
	.category {
		background-color: var(--color-text-base);
		margin-right: 0.25rem;
		display: inline-block;
		border-radius: 0;
		padding: 8px 10px 4px;
		border: 1px solid var(--color-text-base);
		color: white;
		letter-spacing: .04em;
		text-transform: uppercase;
		font-family: "AktivBold";
		font-weight: var(--font-weight-bold);
		font-size: 12px;
		&--active {
			background-color: var(--color-primary);
			border-color: var(--color-primary);
			color: var(--color-text-base);
		}
		span {
			font-weight: var(--font-weight-normal);
			text-transform: capitalize;
		}
		p {
			font-size: 12px;
		}
	}
}
.category-filter {
	@extend .container !optional;
	display: flex;
	// margin-left: auto;
	margin-bottom: var(--spacing);
	@include mq(medium) {
		margin-left: auto;
	}
	select {
		display: none;
		width: auto;
		padding-right: 100px;
		border-bottom: 1px solid var(--color-grey);
		@include mq(medium) {
			display: flex;
			margin-left: auto;
		}
	}
	select,
	option {
		font-size: var(--font-size-small);
	}
}
