.site-footer {
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: var(--spacing);
		padding-bottom: var(--spacing);
		@extend .container;
	}
}

.site-footer p {
	color: white;
	margin: 0;
	font-size: var(--font-size-small);
}
