.site-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: auto;
	padding-top: var(--spacing);
	padding-bottom: var(--spacing);
	@extend .container;
}

.site-footer__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.site-footer p {
	color: white;
	margin: 0;
	font-size: var(--font-size-small);
}
