body.home {
	.site-header__nav ul :not(.current_page_item) a {
		color: var(--color-text-base);
		&:hover {
			color: var(--color-primary);
		}
	}
}
.site-header {
	// display: flex;
	// justify-content: space-between;
	// align-items: stretch;
	position: absolute;
	top: 0;
	transition: all 0.4s ease-in-out;
	z-index: 99;
	// padding: 10px var(--spacing);
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: white;
	border-bottom: 1px solid black;
	margin-bottom: 1rem;

	@include mq(medium) {
		position: sticky;
	}
	@include mq(large) {
		// padding: 10px var(--spacing-xl);
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
	&__inner {
		max-width: var(--container-global);
		width: 100%;
		padding: 0 var(--spacing-xs);
		display: flex;
		margin: 0 auto;
		justify-content: space-between;
		// align-items: center;
		// align-items: center;
		// padding: 0;
		width: 100%;
		@include mq(medium) {
			margin-bottom: 0;
			justify-content: space-between;
			align-items: center;
			padding: 0 var(--spacing-xl);
		}
	}
	&__logo {
		display: block;
		font-size: 2rem;
		margin: 0;
		// margin-right: 2rem;
		z-index: 4;
		width: 140px;
		height: 52px;
		@include mq(medium) {
			// width: 180px;

		}
		a {
			display: block;
			width: 140px;
			height: 52px;
		}
	}
	&__nav {
		display: none;
		@media only screen and (min-width: 1044px) {
			flex-grow: 1;
			display: flex;
			padding: 0 2rem;
			// justify-content: stretch;
		}

		ul {
			display: flex;
			// justify-content: space-around;
			justify-content: space-between;
			margin: 0;
			padding-left: 0;
			width: 100%;
			.current_page_parent > a,
			.current-menu-item a {
				color: var(--color-text-base);
			}
			li {
				position: relative;
				display: flex;
				justify-content: center;
				line-height: 100%;
				flex-grow: 1;
				// width: 100%;
				// border-right: 1px solid black;
				a {
					display: flex;
					align-items: center;
					justify-content: center;
					text-align: center;
					color: var(--color-text-base);
					text-decoration: none;
					// text-transform: uppercase;
					font-size: 18px;
					letter-spacing: -0.5px;
					font-family: var(--heading-family);
					padding: 0.75rem;
					// border-right: 1px solid var(--color-text-base);
					&:hover {
						color: var(--color-primary);
					}
				}

				.sub-menu {
					z-index: 5;
					display: flex;
					flex-wrap: wrap;
					flex-direction: column;
					margin-bottom: 1rem;
					// padding-left: 0;
					// padding-bottom: 1rem;
					padding: 0 1.5rem;
					border: 0;
					top: 100%;

					@include mq(medium) {
						// min-width: 260px;
						margin: 0 1rem;
						position: absolute;
						transform: translateY(20px);
						opacity: 0;
						visibility: hidden;
						transition: .2s ease;
						margin: 0;
						box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
						background-color: white;
						min-width: 270px
						// border-radius: 30px;
					}
					li {
						padding: 0;
						display: block;
						margin: 0;
						border: 0;
						border-bottom: 1px solid var(--color-grey);
						&:first-child {
							// padding-top: 1rem;
						}
						&:last-child {
							border: 0;
						}

						a {
							padding: 1rem 2rem;
							&:hover {
								color: var(--color-primary);
								border: 0;

							}
						}
					}

					.menu-item-has-children {
						// > a {
						// 	position: relative;
						// 	&:after {
						// 		content: url("../../src/icons/arrow-down.svg");
						// 		position: relative;
						// 		width: 14px;
						// 		height: 100%;
						// 		margin-left: 0.5rem;
						// 		display: none;
						// 		@include mq(medium) {
						// 			display: block;
						// 		}
						// 	}
						// }
					}

					.sub-menu {
						transform: translateY(20px);
						left: 260px;
						background: #1B1B1B;
						top: 0;
					}
				}
			}
		}
	}
	&__actions {
		// height: 100%;
		display: flex;
		margin-right: 3rem;
		border-right: 1px solid var(--color-grey);
		@media only screen and (min-width: 1044px) {
			margin-right: 0;
			border-right: none;
		}
		.social-links {
			display: none;
			margin: 0 1rem 0 0;

			@media only screen and (min-width: 1044px) {
				display: flex;
				align-items: center;
				margin: 0;
				// padding-right: 1rem;
				// padding-left: 1rem;
				padding: 0.25rem 1rem;
				border-left: 1px solid black;
				border-right: 1px solid black;
			}
			&__link {
				color: var(--color-text-base);
				&:hover {
					color: var(--color-primary);
				}
			}
		}
		&-search {
			display: flex;
			align-items: center;
			padding-left: 1rem;
			margin-right: 1rem;

			@media only screen and (min-width: 1044px) {
				border-right: none;
				margin-right: 0;
			}
			&:hover {
				color: var(--color-primary);
				cursor: pointer;
			}
			p {
				margin-left: 0.5rem;
				font-family: "Circular";
				letter-spacing: -0.5px;
				font-weight: var(--font-weight-medium);
				font-size: 18px !important;
				// ;color: var(--color-grey-dark)
			}
			.icon {
				height: 20px;
			}
		}
		&-contact {
			display: none;
			padding-left: 1.5rem;
		}
	}
	&__search {
		position: absolute;
		width: 100%;
		padding: var(--spacing-xs) 0;
		top: calc(100% + 1px);
		left: 0;
		background: white;
		display: none;
		visibility: hidden;
		opacity: 0;
		transition: all 0.1s ease-in-out;
		&--active {
			visibility: visible;
			opacity: 1;
			display: block;
			transition: all 0.1s ease-in-out;
			box-shadow: 0 6px 6px 0px rgba(0, 0, 0, 0.05);
		}
		&-form {
			position: relative;
		}
		.search-form {
			@extend .container;
		}
		&-close {
			position: absolute;
			display: flex;
			align-items: center;
			right: var(--spacing-s);
			top: calc(50% - 15px);
			transform: translateY(-50%);
			width: 30px;
    		height: 30px;
			transform: rotate(45deg);
			@include mq(medium) {
				right: var(--spacing-xl);
			}
			span {
				visibility: hidden;
				position: absolute;
				text-indent: -9999px;
			}
			&::before,
			&::after {
				content: "";
				width: 30px;
				height: 3px;

				background-color: var(--color-text-base);
				border-radius: 20px;
				position: absolute;
			}
			&::before,
			&::after {
				content: "";
				display: block;
			}
			&::before {
				// top: -8px;
			}
			&::after {
				// bottom: -8px;
				transform: rotate(90deg);
			}
			&:hover {
				cursor: pointer;
			}
		}
	}
}


.menu li:hover > .sub-menu {
	@media only screen and (min-width: 1040px) {
		opacity: 1;
		visibility: visible;
		transform: translateY(0px);
		transition: .2s ease;
	}
}
.menu li:hover > .sub-menu li:hover {
	.sub-menu {
		@media only screen and (min-width: 1040px) {
			opacity: 1;
			visibility: visible;
			transform: translateY(0px) translateX(0rem);
			transition: .2s ease;
		}
	}
}

.menu-item-has-children {
	// > a {
	// 	position: relative;
	// 	&:after {
	// 		content: url("../../src/icons/arrow-down.svg");
	// 		position: relative;
	// 		// width: 14px;
	// 		// height: 100%;
	// 		margin-left: 0.5rem;
	// 		margin-top: -2px;
	// 		display: none;
	// 		@media only screen and (min-width: 1040px) {
	// 			display: block;
	// 		}
	// 	}
	// }
}

.site-header__nav ul li.menu-item-has-children:hover > a, .site-header__nav ul li.menu-item-has-children:focus > a {
    color: var(--color-primary);
	// &:after {
	// 	content: url("../../src/icons/arrow-down.svg") !important;
	// }
}

.site-header__menu-btn {
	position: relative;
	order: 2;
	cursor: pointer;
	overflow: visible;
	background: none;
	border: 0;
	outline: none !important;
	display: block;
	// margin-top: 7px;
	z-index: 4;
	padding: 0;
	@media only screen and (min-width: 1044px) {
		display: none;
	}
	&:hover {
		background-color: none;
	}
}

/*
* SVG animation
*/
.site-header--nav-btn.is-active .site-header--nav-inner,
.site-header--nav-btn.is-active .site-header--nav-inner::before,
.site-header--nav-btn.is-active .site-header--nav-inner::after {
	background-color: black;
}
.site-header--nav-btn.is-active {
	position: fixed;
	right: 1.2rem;
    // margin-top: 6px;
	// .site-header--nav-box {
	// 	right: 0.5rem;
	// }
}

.site-header--nav-box {
	width: 30px;
    height: 13px;
	display: inline-block;
	position: relative;
}

.site-header--nav-inner {
	display: block;
	top: 50%;
	margin-top: -2px;
	span {
		visibility: hidden;
		position: absolute;
		text-indent: -9999px;
	}
}
.site-header--nav-inner,
.site-header--nav-inner::before,
.site-header--nav-inner::after {
	width: 30px;
	height: 2px;
	background-color: var(--color-text-base);
	border-radius: 20px;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease;
}
.site-header--nav-inner::before,
.site-header--nav-inner::after {
	content: "";
	display: block;
}
.site-header--nav-inner::before {
	top: -8px;
}
.site-header--nav-inner::after {
	bottom: -8px;
}

.site-header--nav-inner {
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.site-header--nav-inner::before,
.site-header--nav-inner::after {
	transition-duration: 0s;
	transition-delay: 0.1s;
	transition-timing-function: linear;
}
.site-header--nav-inner::before {
	transition-property: top, opacity;
}
.site-header--nav-inner::after {
	transition-property: bottom, transform;
}

.is-active .site-header--nav-inner {
	transform: rotate(765deg);
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.is-active .site-header--nav-inner::before, .is-active .site-header--nav-inner::after {
	transition-delay: 0s;
}
.is-active .site-header--nav-inner::before {
	top: 0;
	opacity: 0;
}
.is-active .site-header--nav-inner::after {
	bottom: 0;
	transform: rotate(90deg);
}
