// =============================================================================
// Site
// =============================================================================

.global-container {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.container-s {
	margin: 0 auto;
	padding: 0 var(--spacing-s);
	width: 100%;
	max-width: var(--container-s);
	@include mq(large) {
		padding: 0;
	}
}
.container {
	margin: 0 auto;
	padding: 0 var(--spacing-s);
	width: 100%;
	max-width: var(--container-global);
	@include mq(large) {
		// padding: 0 var(--spacing-xl);
		padding: 0 var(--spacing-s);
	}
}

.main {
	// /@extend .container;
	max-width: var(--container);
	margin-top: var(--spacing-l);
	margin-bottom: var(--spacing-l);
	flex: 1;
}
