body.nav-open {
	overflow: hidden;
}


.site-header--nav__mobile {
	.menu-primary-container {
		height: 100%;
	}
}
.site-header--nav__mobile.is-active {
	transform: translateX(-100%);
	transition: all 0.2s ease-in-out;
	background-color: white;
}

.site-header {
	@media only screen and (max-width: 1043px) {
		position: sticky;
	}
	&--nav {
		&__image {
			margin-top: auto;
			margin-left: auto;
		}
		&__contact {
			color: var(--color-primary);
			text-align: center;
			margin-bottom: 2rem;
			a {
				color: var(--color-primary);
				font-weight: var(--font-weight-bold);
			}
		}

		&-btn {
			position: absolute;
			top: 2rem;
			right: 1.2rem;
			cursor: pointer;
			overflow: visible;
			background: none;
			border: 0;
			outline: none !important;
			display: block;
			// margin-top: 7px;
			z-index: 4;
			padding: 0;
			@media only screen and (min-width: 1044px) {
				display: none;
			}
			&:hover, &:focus {
				background: none;
			}
		}

		&__mobile {
			overflow: auto;
			position: fixed;
			flex-direction: column;
			padding: 100px var(--spacing-s) 1rem var(--spacing-s);
			right: -100%;
			top: 0;
			width: 100%;
			height: 100vh;
			z-index: 3;
			background: transparent;
			transition: all 0.2s ease-in-out;
			display: flex;
			@media only screen and (min-width: 1040px) {
				display: none;
			}
			.social-links {
				flex-direction: row;
				height: auto;
				border: 0;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				margin-top: 2rem;
				&__item {
					margin: 0 1rem 0 0;
				}
				li {
					width: auto;
				}
				a {
					border: 0;
					&:hover {
						border: 0;
					}
				}
			}
			ul {
				padding-left: 0;
				margin: 0;
				height: 100%;
				display: flex;
				flex-direction: column;
				li {
					width: 100%;
					padding: 0;
					position: relative;
					a {
						display: flex;
						width: 100%;
						border-bottom: 1px solid black;
						color: black;
						padding: 1.5rem 0;
						text-decoration: none;
						font-weight: var(--font-weight-bold);
						&:hover {
							border-bottom: 1px solid black;
							color: var(--color-primary);
						}
					}
					.dropdown-button {
						padding: 1.1rem;
						width: 54px;
						position: absolute;
						right: 0;
						top: 0;
						content: url("../../src/icons/arrow-down.svg");
						&:hover {
							cursor: pointer;
							// background: rgba(239, 239, 239, 0.1);
						}
					}
					.dropdown-button.is-active {
						transform: rotate(-180deg);
					}
					.sub-menu {
						display: none;
						margin: 0 2rem;
						// a {
						// 	padding-left: 2rem;
						// }
						// .sub-menu a {
						// 	padding-left: 4rem;
						// }
					}
				}
				.menu-search {
					margin-top: 1rem;
					padding-top: 0.5rem;
					border-top: 1px solid rgba(255,255,255,0.2);
				}
			}
		}
	}
}
