.page {
	&-breadcrumb {
		padding: 0.5rem var(--spacing-s) 0 var(--spacing-s);
		white-space: nowrap;
		overflow: hidden;
		@extend .container !optional;
		@include mq(medium) {
			padding: 0.5rem var(--spacing-s) 0 var(--spacing-s);
		}
		@include mq(large) {
			padding: 0.5rem var(--spacing-xl) 0 var(--spacing-xl);
		}
		a {
			color: var(--color-grey-dark);
			text-transform: capitalize;
		}
		span {
			font-size: 14px;
			// text-transform: uppercase;
		}
	}
	&-title {
		@extend .container;
		padding-top: var(--spacing);
		padding-bottom: var(--spacing);
		// word-wrap: break-word;
		h1 {
			margin-bottom: 0;
			// max-width: 600px;
			// margin-left: -6px;
			@include mq(medium) {
				// margin-left: -7px;
			}
			@include mq(large) {
				// margin-left: -12px;
			}
		}
	}
	&-excerpt {
		max-width: var(--container-s);
		margin-top: var(--spacing);
		@include mq(large) {
			max-width: 60%;
		}
	}
}
