.page {
	&-breadcrumb {
		a {
			// color: var(--color-grey-dark);
			text-transform: capitalize;
			text-decoration: underline;
		}
		span {
			font-size: 14px;
			// text-transform: uppercase;
		}
		+ .page-title {
			margin-top: var(--spacing);
		}
	}
	&-title {
		padding-bottom: var(--spacing-s);
		@include mq(medium) {
			padding-bottom: var(--spacing);
		}
		h1 {
			margin-bottom: 0;
			// max-width: 600px;
			// margin-left: -6px;
			@include mq(medium) {
				// margin-left: -7px;
			}
			@include mq(large) {
				// margin-left: -12px;
			}
		}

		+ hr {
			margin-top: calc(var(--spacing-xl) - var(--spacing));
		}

		+ .content-block {
			padding-top: 0;
		}
	}
	&-date {
		margin-bottom: var(--spacing-xs) !important;
		position: relative;
		display: inline-block;
		// margin: var(--spacing-xs) 0;
		z-index: 9;
		font-weight: var(--font-weight-bold);
		font-size: 18px;
		p {
			font-size: 18px;
			font-weight: var(--font-weight-bold);
		}
		&:before {
			content: '';
			z-index: -1;
			position: absolute;
			width: 100%;
			height: 15px;
			background-color: var(--color-gold);
			top: 9px;
			left: -4px;
		}
	}
	&-excerpt {
		margin-top: var(--spacing-s);
		@include mq(medium) {
			margin-top: var(--spacing);
		}
		@include mq(large) {
			max-width: 75%;
		}
		p {
			@extend .lead;
		}
	}
	&-details {
		p {
			@extend .lead;
		}
	}
	&-image {
		display: none;
		margin-bottom: var(--spacing);
		img {
			width: 100%;
		}
	}
	&-content {
		max-width: var(--container-global);
		width: 100%;
		padding: 0 var(--spacing-xs);
		@include mq(medium) {
			padding: var(--spacing-l) var(--spacing-xl) 0 var(--spacing-xl);
		}
		margin: 0 auto;
		> h1,
		> h2,
		> h3,
		> h4,
		> h5,
		> h6,
		> p
		{
			margin-left: auto;
			margin-right: auto;
			// padding: 0 var(--spacing-s);
			// padding-left: var(--spacing-xl);
			// padding-right: var(--spacing-xl);
			width: 100%;
			// max-width: var(--container-global);
		}

		> .has-large-font-size {
			@include mq(medium) {
				padding-right: var(--spacing-xl);
			}
			@include mq(large) {
				padding-right: var(--spacing-xxl);
			}
		}
		.content-block__content {
			margin-top: var(--spacing);
		}
	}
}

.single-programe,
.single-programme,
.single-event,
.single {
	.page-title {
		h1 {
			// font-weight: var(--font-weight-bold);
		}
	}
}
.single {
	background-color: var(--content-bkg);
	// .page-content {
	// 	&:before {
	// 		content: '';
	// 		position: absolute;
	// 		top: 0;
	// 		left: 0;
	// 		width: 100%;
	// 		height: 500px;
	// 		background-color: white;
	// 		z-index: -1;
	// 	}
	// }
	&-programme {
		> * {
			// margin-left: auto;
			// margin-right: auto;
			// width: 100%;
			// max-width: var(--container-global);
		}
		.category--active {
			background-color: var(--color-maroon);
		}
	}
	&-event {
		.category--active {
			background-color: var(--color-green);
		}
	}
}
