.page {
	&-title {
		@extend .container;
		padding-top: var(--spacing);
		padding-bottom: var(--spacing);

		h1 {
			margin-bottom: 0;
			margin-left: -6px;
			@include mq(medium) {
				margin-left: -7px;
			}
			@include mq(large) {
				margin-left: -12px;
			}
		}
	}
	&-excerpt {
		margin-top: var(--spacing);
	}
}