.btn,
// input[type="button"],
// input[type="submit"],
// button,
.wp-block-button__link,
.wp-block-button__link:visited {
	display: inline-block;
	border-radius: 0;
	padding: 8px 10px 4px;
	border: 1px solid var(--color-text-dark);
	color: var(--color-text-dark);
	letter-spacing: .04em;
	text-transform: uppercase;
	// font-family: var(--display-family);
	font-family: "AktivBold";
	font-weight: var(--font-weight-bold);
	font-size: 12px;
	text-align: center;
	cursor: pointer;
	transition: all 0.1s ease-in-out;

	&:hover, &:focus {
		background: var(--color-grey);
		color: var(--color-text-base);
		outline: 0;
		text-decoration: none;
	}

	&__group {
		display: flex;
	}
}
.btn--solid {
	background-color: var(--color-text-base);
	border: 1px solid var(--color-text-base);
	color: white;
	&:hover, &:focus {
		background: var(--color-grey);
		outline: 0;
		text-decoration: none;
	}
}

.btn--light {
	background-color: transparent;
	border: 1px solid white;
	color: white;

	&:hover, &:focus {
		background: var(--color-grey);
	}
}

.btn--large {
	padding: 18px 20px 12px;
}
