.btn,
// input[type="button"],
// input[type="submit"],
// button,
input[type=submit],
input[type=submit].btn,
.wp-block-button__link,
.wp-block-button__link:visited,
.is-style-outline a {
	display: inline-block;
	border-radius: 10px;
	padding: 14px 20px;
	border: 0;
	// border: 1px solid var(--color-text-dark) !important;
	color: var(--color-text-dark) !important;
	font-weight: var(--font-weight-book);
	background-color: white;
	// text-transform: uppercase;
	// font-family: var(--display-family);
	font-size: 20px;
	letter-spacing: -0.5px;
	text-align: center;
	cursor: pointer;
	transition: all 0.1s ease-in-out;

	&:hover, &:focus {
		background: var(--color-grey-light);
		color: var(--color-text-base);
		outline: 0;
		text-decoration: none;
	}
	.icon {
		height: 14px;
		transform: translateY(-2px);
		margin-left: 0.25rem;
	}
}
// .wp-block-button__link {
// 	background: red;
// 	color: white !important;
// }
.btn__group {
	display: flex;
}
a.btn {
	padding: 14px 20px;
}
.btn--solid, .is-style-fill a,
.is-style-fill a {
	background-color: var(--color-text-base);
	border: 1px solid var(--color-text-base);
	color: white !important;
	&:hover, &:focus {
		background: var(--color-grey) !important;
		outline: 0;
		color: var(--color-text-dark) !important;
		text-decoration: none;
	}
}

.btn--red {
	background-color: var(--color-primary);
	border: 0 !important;
	color: white !important;
	fill: white;

	&:hover, &:focus {
		color: white;
		background-color: black;
	}
}
.btn--black {
	background-color: black;
	border: 0 !important;
	color: white !important;

	&:hover, &:focus {
		color: white;
		background-color: var(--color-primary);
	}
}

.btn--outline {
	background-color: white;
	border: 1px solid black !important;
	color: black;

	&:hover, &:focus {
		// color: white;
		background: var(--color-grey-light);
	}
}

.btn--light {
	background-color: green;
	border: 1px solid white !important;
	color: white;

	&:hover, &:focus {
		// color: white;
		background-color: var(--color-grey);
	}
}
.btn--link {
	color: var(--color-primary);
	font-size: 18px;
	.icon {
		height: 14px;
		transform: translateY(-2px);
		margin-left: 0.25rem;
	}
	&:hover {
		text-decoration: none;
	}
}
.is-style-outline a {
	padding: 2px 10px 4px !important;
	background-color: transparent;
	background-color: green;
	border: 1px solid white !important;
	&:hover, &:focus {
		background: var(--color-grey) !important;
	}
}
