.card {
	color: var(--color-text-base);
	padding-bottom: var(--spacing);
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	max-width: none;
	position: relative;
	text-decoration: none !important;
	// &::before {
	// 	content: '';
	// 	position: absolute;
	// 	width: calc(100% + var(--spacing-s));
	// 	height: calc(100% + var(--spacing-s));
	// 	top: 50%;
	// 	left: 50%;
	// 	transform: translate(-50%, -50%);
	// 	z-index: -1;
	// }
	.btn--link {
		margin-top: var(--spacing-xs);
		&:hover {
			color: var(--color-text-base);
		}
	}
	&__media {
		position: relative;
		transition: all 0.1s ease-in-out;
		width: 100%;
		// transition: all 0.1s ease-in-out;
		img {
			// margin-bottom: var(--spacing-s);
			width: 100%;
		}
		figure {
			margin-bottom: 0;
		}
		.icon-arrow {

		}
		+ .card__title {
			margin-top:  var(--spacing-xs);
		}
	}
	&__arrow {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		bottom: 0;
		right: 0;
		background-color: white;
		width: 45px;
		height: 45px;
		transition: all 0.1s ease-in-out;
	}
	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	&__title {
		font-weight: var(--font-weight-book);
		margin-bottom: 1rem;
		p {
			font-size: var(--font-size-h5);
			letter-spacing: -0.5px;
			@include mq(medium) {
				letter-spacing: -1px;
			}
		}
	}
	&__excerpt{
		p {
			font-size: 17px;
		}
	}
	&__date {
		// margin-top: 1rem;
		position: relative;
		margin: var(--spacing-xs) 0;
		z-index: 9;
		font-weight: var(--font-weight-bold);
		font-size: 18px;
		p {
			font-size: 18px;
			font-weight: var(--font-weight-bold);
		}
		&:before {
			content: '';
			z-index: -1;
			position: absolute;
			width: 100%;
			height: 15px;
			background-color: var(--color-gold-light);
			top: 6px;
			left: -4px;
		}
	}
	&:hover {
		text-decoration: none;
		color: var(--color-text-base);
		.btn--link {
			color: var(--color-text-base);
		}
		.btn--red {
			background-color: var(--color-maroon);
		}
		.btn--black {
			background-color: var(--color-maroon);
		}
		.card__arrow {
			background-color: var(--color-maroon);
			color: white;
			transition: all 0.1s ease-in-out;
		}
		.card__title {
			// text-decoration: underline;
			// color: var(--color-primary);
		}
		.card__media {
			// transform: translate(-10px, -10px);
			// box-shadow: 10px 10px var(--color-gold-light);
			// transition: all 0.1s ease-in-out;
		}

		&::before {
			background-color: var(--color-grey-light);
		}
	}
	// &:nth-child(1) {
	// 	&:hover {
	// 		.card__media {
	// 			box-shadow: 10px 10px var(--color-blue);
	// 		}
	// 	}
	// }
	// &:nth-child(2) {
	// 	&:hover {
	// 		.card__media {
	// 			box-shadow: 10px 10px var(--color-green);
	// 		}
	// 	}
	// }
	// &:nth-child(3) {
	// 	&:hover {
	// 		.card__media {
	// 			box-shadow: 10px 10px var(--color-gold);
	// 		}
	// 	}
	// }
	.btn {
		margin-top: 1rem;
	}
	&--wide {
		width: 100%;
		@include mq(medium) {
			width: 50%;
		}
	}
	&--std {
		width: 100%;
		@include mq(medium) {
			width: 25%;
		}
	}
	&-tags{
		display: flex;
		position: absolute;
		right: 1rem;
		top: 5px;
		.tag {
			padding: 6px 6px 2px;
			background-color: var(--color-red);
			color: white;
			font-weight: var(--font-weight-bold);
			font-size: 12px;
			margin-left: 0.2rem;
		}
		+ .card__title {
			margin-top:  var(--spacing-xs);
		}
	}
}
