.page-content > .wp-block-columns {
	@extend .container !optional;
}
.wp-block-columns {
	margin-bottom: var(--spacing) !important;
}
.wp-block-column {
	figure {
		margin-bottom: 0 !important;
	}
	&:first-of-type {
		margin-right: 2rem;
	}
	&:last-of-type {
		padding-left: 2rem;
	}
	.wp-block-buttons {
		margin-bottom: 0 !important;
	}
	.wp-block-buttons {
		display: flex;
		flex-direction: column;
		margin: 1rem 0;
	}
	.wp-block-button + .wp-block-button {
		margin-top: 1rem;
	}
	.wp-block-button__link {
		@extend .btn--solid;
		// @extend .btn--large;
	}
}
