.page-content > .wp-block-columns {
	@extend .container !optional;
}

.wp-block-column {
	figure {
		margin-bottom: 0 !important;
	}
	&:first-of-type {
		margin-right: 2rem;
	}
	&:last-of-type {
		padding-left: 2rem;
	}
	.wp-block-buttons {
		margin-bottom: 0 !important;
	}
}
