.search-form {
	display: flex;
	&__submit {
		background-color: transparent;
		border: 0;
		margin-right: 10px;
	}
	&__input {
		font-size: 18px !important;
		color: black;
		::placeholder {
			font-size: 18px !important;
			color: black;
		  }
		// background-color: green;
	}
	input[type="text"] {
		background-color: white;
		font-size: 18px !important;
		color: black;
		font-family: "Circular";
		letter-spacing: -0.5px;
		width: 100%;
		border: 0;
		padding: 20px;
		margin-right: 80px;
		margin-bottom: 0;

		&:focus {
			color: var(--color-text-base);
		}
	}
}

.search-results {
	padding-top: var(--spacing);
	padding-bottom: var(--spacing-xl);
	&__item {
		padding: var(--spacing) 0;
		border-bottom: 1px solid var(--color-grey);
	}
}
