.featured {
	&-title {
		@extend .container !optional;
		padding-top: var(--spacing);
		padding-bottom: var(--spacing);
	}

	&-list {
		@extend .container !optional;
		// display: flex;
		display: grid;
		grid-template-columns: 50% 50%;
		// grid-template-columns: repeat(1, 3fr);
		gap: var(--spacing-s);

		// 2 columns, 3 rows... 1st item is 1 column, 3 rows.. 2nd is 2 column 1 row, etc.


		// @include mq(medium) {
		// 	grid-template-columns: repeat(2, 1fr);
		// 	gap: var(--spacing);
		// }
		// @include mq(large) {
		// 	grid-template-columns: repeat(4, 1fr);
		// 	gap: var(--spacing);
		// }

		&--full {
			.card__content {
				width: 70%;
			}
		}
		&--small {
			flex-direction: row;
			border-bottom: 1px solid var(--color-grey);

			.card__media {
				width: 246px;
				flex-shrink: 0;
				margin-right: 25px;
			}
		}
	}

	.card {
		position: relative;
		padding-bottom: var(--spacing-s);
		&:nth-child(4n+1):after {
			content: "";
			width: calc(100vw - (var(--spacing-xl) * 2));
			max-width: calc(var(--container-global) - (var(--spacing-xl) * 2));
			height: 1px;
			background: var(--color-grey);
			position: absolute;
			left: 0;
			bottom: 0;
		}

		&__content {
			display: flex;
			flex-direction: column;
		}

		&:first-child {
			background-color: yellow;
			grid-row: 1 / 4;
  			grid-column: 1 / 2;
		}
		&:nth-child(2) {
			background-color: orange;
			grid-row: 1 / 1;
  			grid-column: 2 / 2;
		}
	}
}
