.featured {
	&-title {
		@extend .container !optional;
		padding-top: var(--spacing);
		padding-bottom: var(--spacing);
	}

	&-list {
		@extend .container !optional;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 0;
		@include mq(large) {
			grid-template-columns: 50% 50%;
			gap: var(--spacing-s);
		}
		&--full {
			flex-direction: row;
			border-bottom: 1px solid var(--color-grey);
			margin-bottom: var(--spacing-s);
			@include mq(large) {
				border-bottom: 0;
				margin-bottom: 0;
				grid-row: 1 / 4;
				grid-column: 1 / 2;
				flex-direction: column;
			}
			.card__content {
				width: 100%;
				@include mq(large) {
					width: 60%;
				}
			}
			.card__media {
				width: 20%;
				flex-shrink: 0;
				margin-right: var(--spacing-s);
				@include mq(large) {
					width: 100%;
					margin-right: 0;
				}
			}
		}
		&--small {
			flex-direction: row;
			border-bottom: 1px solid var(--color-grey);
			@include mq(large) {
				&:last-child {
					border: 0;
				}
			}
			.card__media {
				width: 20%;
				flex-shrink: 0;
				margin-right: var(--spacing-s);
				@include mq(large) {
					width: 40%;
				}
			}
		}
	}

	.card {
		position: relative;
		padding-bottom: var(--spacing-s);
		margin-bottom: var(--spacing-s);
		@include mq(medium) {
			margin-bottom: 0;
		}
		&__excerpt {
			display: none;
			@include mq(large) {
				display: block;
			}
		}
		// &:first-child {
		// 	grid-row: 1 / 4;
  		// 	grid-column: 1 / 2;
		// }
		// &:nth-child(2) {
		// 	background-color: orange;
		// 	grid-row: 1 / 1;
  		// 	grid-column: 2 / 2;
		// }
	}
	.btn__group {
		width: 100%;
		justify-content: center;
		grid-template-columns: 100% 100%;
	}
}
