@import "settings";
@import "utilities/mq";
@import "utilities/mixins";
@import "variables";

@import "base/base";
@import "base/typography";
@import "base/gutenberg";

@import "components/buttons";
@import "components/card";
@import "components/content";
@import "components/icons";
@import "components/social-links";

@import "../../blocks/*/*.scss";

@import "utilities/helpers";


ul, ol {
	list-style: auto;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	padding-left: 1em;
	li {
		padding-left: 0.5rem;
		margin-bottom: 0.5rem;
	}
}
