@import "settings";
@import "utilities/mq";
@import "utilities/mixins";
@import "variables";

@import "base/base";
@import "base/typography";
@import "base/gutenberg";
@import "base/forms";

@import "layout/layout";

@import "components/buttons";
@import "components/card";
@import "components/content";
@import "components/icons";
@import "components/social-links";

@import "../../blocks/*/*.scss";

@import "utilities/helpers";


ul, ol {
	list-style: auto;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	padding-left: 1em;
	li {
		padding-left: 0.5rem;
		margin-bottom: 0.5rem;
	}
}

.banner-slider__item {
	display: none !important;
	&:first-of-type {
		display: flex !important;
	}
}
.wp-block-post-content {
	a {
		color: var(--color-text-link);
		text-decoration: none;
	}
	h2 {
		font-size: 32px !important;
	}
	h3 {
		font-size: 24px !important;
	}
	h4 {
		font-size: 20px !important;
	}
}
