.banner {
	background: black;
	width: 100%;

	&__hr {
		margin-top: -120px;
	}

	&-slider {
		&__item {
			display: flex !important;
			flex-direction: column;
			height: 100%;
			color: white;
			@include mq(medium) {
				flex-direction: row;
			}
			&-image {
				width: 100%;
				background-size: cover;
				background-position: center center;
				min-height: 50vw;
				@include mq(medium) {
					width: 50%;
				}
				img {
					width: 100%;
					display: none;
				}
			}
			&-content {
				width: 100%;
				padding: var(--spacing) var(--spacing-l) calc(var(--spacing-xl) + 60px) var(--spacing);
				@include mq(medium) {
					width: 50%;
					padding: var(--spacing-xl) calc(var(--spacing) * 2) calc(var(--spacing-xl) + 120px) var(--spacing);
				}
				@include mq($until: xlarge) {
					h3 {
						font-size: var(--font-size-h4);
					}
				}
			}
		}
	}
}