.banner {
	width: 100%;
	margin-bottom: var(--spacing-xl);

	&__hr {
		margin-top: -120px;
	}
	&-full {
		.slick-track {
			@include mq(medium) {
				min-height: 100vh;
			}
		}
	}
	&-date {
		position: relative;
		font-weight: var(--font-weight-bold);
		font-size: 18px;
		z-index: 9;
		margin-bottom: var(--spacing-xs);
		&:before {
			content: '';
			z-index: -1;
			position: absolute;
			width: 100%;
			height: 15px;
			background-color: var(--color-red);
			top: 6px;
			left: -4px;
		}
	}

	.heading-1 + p {
		@include mq(medium) {
			padding-right: var(--spacing-l);
		}
	}

	&-slider {
		// margin-bottom: var(--spacing-l);
		&__item {
			display: flex;
			flex-direction: column;
			height: 100%;
			color: white;
			@include mq(medium) {
				flex-direction: row;
			}
			&-image {
				position: relative;
				width: 100%;
				height: 65vw;
				background-image: none;
				overflow: hidden;
				@include mq(medium) {
					width: 50%;
					height: auto;
					background-size: cover;
					background-position: center center;
				}
				img {
					width: 100%;
					@include mq($until: medium) {
						position: absolute;
						top: 50%;
						left: 50%;
						max-width: 100%;
						transform: translate(-50%, -50%);
						min-width: calc(100% + 2px);
						min-height: calc(100% + 2px);
						display: block;
					}
				}
			}
			&-content {
				width: 100%;
				padding: var(--spacing-l) var(--spacing-s);
				z-index: 1;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				@include mq(medium) {
					width: 50%;
					padding: var(--spacing);
				}
				@include mq($until: xlarge) {
				}
				h3 {
					font-weight: var(--font-weight-bold);
					color: white !important;
					margin-bottom: var(--spacing-xs);
				}
				// a {
				// 	padding: 8px 10px;
				// }
			}
		}
	}
	&-images {
		.banner-slider {
			margin-bottom: 0;
		}
		.banner-slider__item {
			align-items: self-start;
			width: 100%;
			&-image {
				width: 100%;
			}
		}
		// .slick-prev, .slick-next {
		// 	transform: translate(0, -50%);
		// }
	}
	&-detailed {
		background-color: white;
		@include mq(medium) {
			background-color: black;
		}
		&__title {
			background-color: var(--color-primary);
			color: white;
			font-weight: var(--font-weight-black);
			font-size: 22px;
			padding: 0.5rem;
			margin-bottom: 0rem;
			@include mq(medium) {
				margin-bottom: 8rem;
			}
		}
		&__excerpt {
			width: 100%;
			color: var(--color-text-base);
			background-color: white;
			padding: 1rem 2rem 0 0;
			margin-bottom: 1rem;
			@include mq(medium) {
				width: 50%;
				max-width: 480px;
				padding: 0.5rem 1rem 0.5rem 0.5rem;
			}
		}

		.banner-slider__item {
			align-items: self-start;
			&-image {
				@include mq(medium) {
					position: absolute;
					width: 100%;
					height: 100%;
					background-size: cover;
					img {
						position: absolute;
						width: 100%;
						// display: none;
					}
				}
			}
			&-content {
				margin-top: -67px;
				padding: 0 var(--spacing-s) var(--spacing) var(--spacing-s);
				// padding-left: var(--spacing-xl);
				// padding-top: var(--spacing);
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				width: 100%;
				@include mq(medium) {
					margin-top: 0;
					padding: var(--spacing) var(--spacing) var(--spacing) var(--spacing-xl);
				}
				.label {
					margin-bottom: 0;
					color: white;
					background-color: var(--color-text-base);
				}
			}
		}
		// .slick-track {
		// 	@include mq(medium) {
		// 		min-height: 100vh;
		// 	}
		// }

		// .slick-prev, .slick-next {
		// 	transform: translate(0, -50%);
		// }
	}
}
